In [1]:
#installing the kaggle library
!pip install kaggle

Requirement already satisfied: kaggle in /usr/local/lib/python3.10/dist-packages (1.5.16)
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.10/dist-packages (from kaggle) (1.16.0)
Requirement already satisfied: certifi in /usr/local/lib/python3.10/dist-packages (from kaggle) (2023.7.22)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.10/dist-packages (from kaggle) (2.8.2)
Requirement already satisfied: requests in /usr/local/lib/python3.10/dist-packages (from kaggle) (2.27.1)
Requirement already satisfied: tqdm in /usr/local/lib/python3.10/dist-packages (from kaggle) (4.65.0)
Requirement already satisfied: python-slugify in /usr/local/lib/python3.10/dist-packages (from kaggle) (8.0.1)
Requirement already satisfied: urllib3 in /usr/local/lib/python3.10/dist-packages (from kaggle) (1.26.16)
Requirement already satisfied: bleach in /usr/local/lib/python3.10/dist-packages (from kaggle) (6.0.0)
Requirement already satisfied: webencodings in /usr/local/lib/python3.10/dist-packages (from bleach->kaggle) (0.5.1)
Requirement already satisfied: text-unidecode>=1.3 in /usr/local/lib/python3.10/dist-packages (from python-slugify->kaggle) (1.3)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.10/dist-packages (from requests->kaggle) (2.0.12)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests->kaggle) (3.4)

uploading kaggle.json file

In [1]:
# configuring the path of kaggle.json file
!mkdir -p ~/.kaggle
!cp kaggle.json ~/.kaggle/
!chmod 600 ~/.kaggle/kaggle.json

importing dataset

In [2]:
# API to fetch the dataset from kaggle
!kaggle datasets download -d syedsaqlainhussain/sql-injection-dataset

Downloading sql-injection-dataset.zip to /content
  0% 0.00/1.14M [00:00<?, ?B/s]
100% 1.14M/1.14M [00:00<00:00, 97.9MB/s]

In [7]:
# extract the compressed dataset
from zipfile import ZipFile
dataset = '/content/sql-injection-dataset.zip'
with ZipFile(dataset,'r') as zip:
  zip.extractall()
  print('the dataset is extracted')

the dataset is extracted

importing the libraries

In [8]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [35]:
dataset = pd.read_csv('/content/SQLiV3.csv')

In [36]:
dataset.head

<bound method NDFrame.head of                                                 Sentence Label Unnamed: 2  \
0                      " or pg_sleep  (  __TIME__  )  --     1        NaN
1      create user name identified by pass123 tempora...   NaN          1
2       AND 1  =  utl_inaddr.get_host_address   (    ...     1        NaN
3       select * from users where id  =  '1' or @ @1 ...     1        NaN
4       select * from users where id  =  1 or 1#"  ( ...     1        NaN
...                                                  ...   ...        ...
30914              DELETE FROM door WHERE grow = 'small'     0        NaN
30915                               DELETE FROM tomorrow     0        NaN
30916                       SELECT wide ( s )  FROM west     0        NaN
30917       SELECT * FROM  ( SELECT slide FROM breath )      0        NaN
30918                           SELECT TOP 3 * FROM race     0        NaN

       Unnamed: 3
0             NaN
1             NaN
2             NaN
3             NaN
4             NaN
...           ...
30914         NaN
30915         NaN
30916         NaN
30917         NaN
30918         NaN

[30919 rows x 4 columns]>

Removing unused columns

In [37]:
del dataset['Unnamed: 2']

del dataset['Unnamed: 3']

In [38]:
dataset.shape

(30919, 2)

In [39]:
dataset.head

<bound method NDFrame.head of                                                 Sentence Label
0                      " or pg_sleep  (  __TIME__  )  --     1
1      create user name identified by pass123 tempora...   NaN
2       AND 1  =  utl_inaddr.get_host_address   (    ...     1
3       select * from users where id  =  '1' or @ @1 ...     1
4       select * from users where id  =  1 or 1#"  ( ...     1
...                                                  ...   ...
30914              DELETE FROM door WHERE grow = 'small'     0
30915                               DELETE FROM tomorrow     0
30916                       SELECT wide ( s )  FROM west     0
30917       SELECT * FROM  ( SELECT slide FROM breath )      0
30918                           SELECT TOP 3 * FROM race     0

[30919 rows x 2 columns]>

In [40]:
print("----------------------------------------------------")
dataset.info()
print("----------------------------------------------------")

----------------------------------------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30919 entries, 0 to 30918
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Sentence  30904 non-null  object
 1   Label     30664 non-null  object
dtypes: object(2)
memory usage: 483.2+ KB
----------------------------------------------------

In [42]:
dataset['Label'].describe()

count     30664
unique       42
top           0
freq      19268
Name: Label, dtype: object

Process NaN values

In [44]:
dataset['Label'].isna().sum() # Count NaN label values.

255

In [45]:
dataset = dataset.dropna() # Remove Nan values

Fixing the target label

In [47]:
# Get unique values existing in the label column.

unique_label = pd.unique(dataset['Label'])

print('\n'.join(l for l in unique_label))

1
SELECT *
 --
 desc users
 OR
waitfor delay '0:0:__TIME__'--
 drop table temp --
0
 grant resource to name
 EXEC SelectAllCustomers
 /*Select all the columns of all the records in the Customers table:*/
*/
 CREATE VIEW [Products Above Average Price] AS
 CREATE OR REPLACE VIEW view_name AS
 DROP TABLE Suppliers
 CREATE PROCEDURE SelectAllCustomers AS
  EXEC SelectAllCustomers
 DELETE FROM Customers  WHERE CustomerName = 'Alfreds Futterkiste'
 CREATE OR REPLACE VIEW [Brazil Customers] AS
  SELECT * FROM CustomersLIMIT 3
SELECT * FROM Customers
 SELECT TOP 50 PERCENT * FROM Customers
 SELECT * FROM CustomersFETCH FIRST 50 PERCENT ROWS ONLY
SELECT TOP 3 * FROM Customers
 SELECT * FROM Customers
SELECT SUM ( Quantity )
 SELECT column_name ( s )
 SELECT City FROM Customers

Above, we can see that the label contains more than simply 0s and 1s. We need to fix the errors it includes.

In [49]:
dataset = dataset.drop(dataset[(dataset['Label'] != '0') & (dataset['Label'] != '1')].index) # Dropping the label values, that are different from 0 or 1.

In [50]:
dataset['Label'] = dataset['Label'].astype('int') # Convert the label type to integer.

In [51]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 30609 entries, 0 to 30918
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Sentence  30609 non-null  object
 1   Label     30609 non-null  int64
dtypes: int64(1), object(1)
memory usage: 717.4+ KB

In [52]:
dataset[dataset['Label'] == 1].count() # Count how much label are 1.

Sentence    11341
Label       11341
dtype: int64

In [53]:
dataset[dataset['Label'] == 0].count() # Count how much label are 0.

Sentence    19268
Label       19268
dtype: int64

Distribution of the label

In [66]:
dataset.head

<bound method NDFrame.head of                                                 Sentence  Label
0                      " or pg_sleep  (  __TIME__  )  --      1
2       AND 1  =  utl_inaddr.get_host_address   (    ...      1
3       select * from users where id  =  '1' or @ @1 ...      1
4       select * from users where id  =  1 or 1#"  ( ...      1
5       select name from syscolumns where id   =     ...      1
...                                                  ...    ...
30914              DELETE FROM door WHERE grow = 'small'      0
30915                               DELETE FROM tomorrow      0
30916                       SELECT wide ( s )  FROM west      0
30917       SELECT * FROM  ( SELECT slide FROM breath )       0
30918                           SELECT TOP 3 * FROM race      0

[30609 rows x 2 columns]>